.image-selection{
    height: 92%;
    width: 100%;
    top: 8%;
    position: fixed;
    align-items:center;
    justify-content: center;
    
}

.box{
   top: 15%;
   left: 5%;
 
   width: 90%;
   height: 80%;
   overflow-y: scroll;

   position: fixed;
   align-items:center;
   justify-content: center;
}

.space{
  margin-left: 50px;
  margin-right: 10px;
}