.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.start-button{
    position:absolute;
    top: 20%;
    left: 38%;
}

.danny{
    position: absolute;
    bottom: 10%;
    left: 10%;
}
.dannywheel{
    position: absolute;
    top: 40%;
    left: 10%;
}

.spin{
    position: absolute;
    top: 70%;
    left: 10%;
}

.askbubble{
    position: absolute;
    top: 5%;
    left: 30%;
}

.content{
    position:absolute;
    width: 300px;
    height: 500px;
    top: 28%;
    left: 30%;
}
.text{
    font-size: 30px;
    font-family: Harmattan;
    font-weight: bold;
    line-height: 50px;
}
.smallaskbubble{
    position: absolute;
    top: 10%;
    left: 25%;
}
.choosemodel{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 28%;
    top: 25%;
}
.choices{

    position: absolute;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 55%;
    top: 40%;
}

.boxes1{
    width: 300px;
    height: 500px;
    position: absolute;
    left: 40%;
    top: 20%;
}
.boxes2{
    width: 300px;
    height: 500px;
    position: absolute;
    left: 65%;
    top: 20%;
}
.introbubble{
    position: absolute;
    top: 10%;
    left: 5%;
}
.introtexts{
    width: 620px;
    height: 250px;
    position: absolute;
    left: 35%;
    top: 15%;
    overflow-y: scroll;
}
.smalltext{
    font-size: 20px;
    font-family: Harmattan;
    font-weight: bold;
    line-height: 40px;
}
.title{
    width: 620px;
    position: absolute;
    left: 35%;
    top: 5%;
}